process {
    executor = 'slurm'
    penv = "smp"
    publishDir = [
        path: { "${params.savePath}/data_tables/" },
        mode: 'copy',
        pattern: '*recal_data_[0-9].table'
    ]
}

workflow.onComplete = {
    println "Pipeline complete"
}

executor {
    name = 'slurm'
    queueSize = 25
}

