singularity.enabled = true
tower.accessToken = '77bc7427c520828b18726d8c3fc52937019cddbc'

executor {
    name = 'slurm'
    queueSize = 10
}

process {
    cache ='lenient'
    clusterOptions = '-A bharpur'
    penv = "smp"
    publishDir = [
        path: { "${params.savePath}/data_tables/" },
        mode: 'copy',
        pattern: '*recal_data_[0-9].table'
    ]
}

workflow.onComplete = {
    println "Pipeline complete"
}

